<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
</head>

<body class="sign-up-body">
    <h1 class="sign-up-header">Create a New Account! </h1>
    <form action="/auth/sign-up" method="POST">
        <label class="su-username-password-texts" for="username">Username:</label>
        <input class="su-text" type="text" name="username" id="username" required />
        <label class="su-username-password-texts" for="password">Password:</label>
        <input class="su-text" type="password" name="password" id="password" required />
        <label class="su-username-password-texts" for="confirmPassword">Confirm Password:</label>
        <input class="su-text" type="password" name="confirmPassword" id="confirmPassword" required />
        <button class="sign-up-button" type="submit">Sign up</button>
    </form>
</body>

</html>