<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign In</title>
</head>

<body id="sign-in-body">
    <h1 id="sign-in-header">Welcome Back</h1>
    <form action="/auth/sign-in" method="POST">
        <label class="si-username-password-text" for="username">Username:</label>
        <input class="si-text" type="text" name="username" id="username" required />
        <label class="si-username-password-text" for="password">Password:</label>
        <input class="si-text" type="password" name="password" id="password" required />
        <button class="sign-in-button" type="submit">Sign in</button>
    </form>
</body>

</html>