<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Flower</title>
</head>

<%- include('../partials/_navbar') %>

<body class="new-flower-body">

        <h1 class="new-flower-header">Add A New Flower</h1>

        <form id="new-flower-div" action="/users/<%= user._id %>/flowers/" method="POST">
            <label class="new-flower-label-texts" for="name">Common Name:</label>
            <input class="flower-texts-new-page" type="text" name="commonName" id="commonName" />
            <label class="new-flower-label-texts" for="name">Scientific Name:</label>
            <input class="flower-texts-new-page" type="text" name="scientificName" id="scientificName" />
            <label class="new-flower-label-texts" for="name">Date Found:</label>
            <input class="flower-texts-new-page" type="date" name="dateFound" id="dateFound" />
            <label class="new-flower-label-texts" for="name">Location:</label>
            <input class="flower-texts-new-page" type="text" name="location" id="location" />
            <label class="new-flower-label-texts" for="name">Field Notes:</label>
            <input class="flower-texts-new-page" type="text" name="fieldNotes" id="fieldNotes" />
            <label class="new-flower-label-texts" for="name">Photo:</label>
            <input class="flower-texts-new-page" type="text" name="photo" id="photo" />
            <button id="add-flower-button" type="submit">Add Flower</button>

</body>

</html>