@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

body {
    font-family: "Joti One", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;
}

.index-body {
    background-image: url('https://i.imgur.com/EF078sz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
}

#index-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

#text-container {
    width: 100%;
}

.main-header {
    font-weight: bold;
    color: white;
    font-size: 75px;
    display: flex;
    align-items: flex-start;
}

.subheader {
    margin: 0 20px 0 20px;
    font-size: 25px;
    margin: 0;
}

#welcome-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 100px;
}

#auth-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
}

.signup-link,
.signin-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 5px 8px 5px;
    border-radius: 5px;
    width: 10em;
    text-align: center;
    background-color: #d1dc80;
    color: black;
}

.signup-link:hover, .signin-link:hover {
    background-color: #8c475b;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 5px 20px;
    justify-content: space-between;
    align-content: flex-start;
}

#nav-header {
    color: black;
    size: 1em !important;
    margin: 0;
}

.authlink {
    text-decoration: none;
    margin: 0 15px;
    color: pink;
    font-weight: bold;
    font-size: 25px;
}

.authlink:hover {
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
}


/* ==================================================================================== */
.flower-index-body {
    background-image: url('https://i.imgur.com/IyB7V6W.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flower-index-header {
    color: white;
    font-size: 75px;
    top: 75px;
}

.new-flower-index-link {
    color: pink;
    font-size: 25px;
    position: absolute;
    top: 205px;
}
.new-flower-index-link:hover {
    color: white;
}

.flower-linksss {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flower-index-links {
    color: pink;
    font-size: 25px;
    position:unset;
    top: 225px;
}

.flower-index-links:hover {
    color: white;
}

.new-flower-body {
    background-image: url('https://i.imgur.com/dQJ9RIh.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}

.new-flower-header, .edit-page-header {
    color: white;
    font-size: 75px;
}

#new-flower-div, #edit-div {
    display: flex;
    flex-direction: column;
}

.new-flower-label-texts {
    color: white;
}

.flower-texts-new-page, .flower-texts-edit-page {
    font-family: 'Times New Roman', Times, serif;
    width: 25em;
}

#add-flower-button, #submit-edit-button {
    font-size:  1.25em;
    background-color: #ce9195;
    text-decoration: none;
    padding: 8px 5px 8px 5px;
    color: white;
    font-family: "Joti One", serif;
    border-radius: 5px;
    margin: 20px 0 0 100px;
    display: flex;
    align-items: center;

}

#add-flower-button:hover, #submit-edit-button:hover {
    background-color: #483932;
    color: white;
}

.flower-info-body{
    background-image: url('https://i.imgur.com/WQ4VmEI.jpeg');
    background-size: 900px 600px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#flower-facts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 25px;
}

.flower-name-header {
    font-size: 75px;
}

#flower-actions {
    display: inline;
    margin-bottom: 40px;
}

#like-comment-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#likes-button{
    margin-right: 10px;
    font-size: 25px;

}

#likes-comments-count{
    color: white;
    font-size: 25px;

}

#comment-box-text {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-right: 10px;
}

#comment-text {
    font-size: 20px;
}

.user-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#delete-flower-button, 
#edit-flower-button,
#delete-comment-button,
#add-comment-button {
    font-size:  1.25em;
    background-color: #485732;
    text-decoration: none;
    padding: 8px 5px 8px 5px;
    color: white;
    font-family: "Joti One", serif;
    border-radius: 5px;
}

#delete-flower-button:hover, 
#edit-flower-button:hover, 
#delete-comment-button:hover,
#add-comment-button:hover {
    background-color: #ad7445;
    color: black;
}

.fbc-index-body {
    background-image: url('https://i.imgur.com/LO6yCia.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;
    min-height: 100vh;
    width: 100vw;
    color: white;
}

.fbc-header {
    font-size: 75px;
}

.members-name, .view-users-flower-bed-link {
    color: white;
    font-size: 25px;
}


.member-body {
    background-image: url('https://i.imgur.com/RzdqAty.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}


.member-page-header {
    font-size: 75px;
    color: white;
}

#members-flower-links {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.member-flower-link-text {
    color: pink;
}

.member-flower-link-text:hover {
    color: white;
}


#sign-in-body {
    background-image: url('https://i.imgur.com/jVWQOhJ.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 70vh;
    width: 100%;
    color: white;
}

#sign-in-header {
    color: black;
    font-size: 75px;
}

.si-username-password-text {
    color: black;
    font-size: 25px;

}
.si-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.sign-in-button {
    background-color: #8663a5;
    font-size: 25px;
    color: white;
    margin: 20px 0 0 0;
    padding: 8px 5px 8px 5px;
    border-radius: 5px;
    font-family: "Joti One", serif;
}

.sign-in-button:hover {
    background-color: #505f1d;
    color: white;
}

.sign-up-body {
    background-image: url('https://i.imgur.com/YIZunPj.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 70vh;
    width: 100%;
    color: white;
}

.sign-up-header {
    font-size: 75px;
    color: white;
}

.su-username-password-texts {
    color: white;
    font-size: 25px;

}
.su-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.sign-up-button {
    background-color: #beccac;
    color: black;
    margin: 20px 0 0 0;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-family: "Joti One", serif;
    font-size: 25px;
}

.sign-up-button:hover {
    background-color: #727127;
    color: white;
}

.edit-flower-body {
    background-image: url('https://i.imgur.com/m223VKw.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
}


.label-texts-edit-page {
    font-size: 20px;
    display: flex;
}
